@import './../../assets/sass/Card';

.container-parent {
  // background-image: linear-gradient(310deg, #eef1f6, #fcfdfd);
  // background-image: linear-gradient(108deg, #8468f5, #eb74e7 99%, #ec74e7);
  background-image: url('../../assets/images/background-home.png');
  min-height: 100vh;
}

.columns:last-child {
  margin-bottom: 0;
}

