@import 'Card';
@import 'Input';
@import 'variables';

.container-parent {
  background-image: url('/src/assets/images/background-home.png');
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}